<<<<<<< HEAD

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(10, 10, 10);
    font-family: arial, sans-serif;
    color: lightblue;
}

#unicode {
    color: limegreen;
}
=======
body {
    background-color: black;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: lightblue;
}
>>>>>>> 747bafa7d3199ff6c52cb5895c3704093174ad06
