html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  font-family: Monospace, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 5vw;
  font-weight: normal;
  color: turquoise;
}

h2 {
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
}

h1:hover{
  font-weight: bold;
}

.rotate:hover{
  transform: rotate(8deg);
}

section p {
  margin:0;
  padding:10px;
}


.topnav {
  overflow: hidden;
  display: flex;
  justify-content: right;
  width: 100%;
  height:10vh;
  position: fixed;
}

.nav-item {
  text-decoration: none;
  
  padding: 2% 2%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.topnav a:hover {
  color: turquoise;
  border-radius: 15px;
  background: white;
}

.nav-img {
  display: flex;
  justify-content: left;
  margin-left: auto;
  position: fixed;
}

.icon {
  padding: 20px 20px;
  width: 40px;
  height: auto;
  z-index: 1;

}

section {
  text-align: left;
  padding: 5rem;
  min-height: 100vh;
  flex:1;
  box-sizing: border-box;
}

#about {
  /* background-image: url('./img/abstract-blocks.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background: black;
}

#projects {
  background: black;
  color: white;
}

#contact {
  background: black;
  color: white;
}

footer {
  color: white;
  font-size: 12px;
}

#projects .img-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#projects .img-gallery > * {

  margin: 1em 1em;
  width: 25vw;
  height: auto;
}

#projects .img-gallery > *:hover {
  zoom: 1.01;
  -moz-transform: scale(1.01);
  opacity: 0.5;
}
