:root {
  --theme: rgb(112, 51, 255);
  --globalPadding: 6rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */


  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;

  background: rgb(2, 0, 36);
  background: linear-gradient(132deg, rgba(2, 0, 36, 1) 0%, rgba(12, 0, 31, 1) 16%, rgba(59, 0, 143, 1) 100%);
  color: rgb(255, 255, 255);
}

.break {
  margin: 0px;
  padding: 2px;
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1638272181967-7d3772a91265?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.text-gradient {
  /* user-select: none; */
  background-image: linear-gradient(to right, rgb(0, 100, 255), rgb(0, 219, 255));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  /* font-weight: normal; */
  color: var(--theme);
  margin: 1 auto;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightgray;
  text-align: center;
}

#experience h3 {
  font-size: 1.15rem;
  font-weight: bold;
  color: rgb(123, 187, 255);
  /* color: var(--theme); */
}

#projects h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.intro-summary {
  margin-right: 30%;
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
}

section p {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
}

.topnav {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  backdrop-filter: blur(0.5rem);
  padding-right: 10px;
  padding-bottom: 30px;
  /* display: flex; */
  justify-content: right;
  width: 100%;
  height: 7vh;
  position: fixed;
  z-index: 1;
  font-weight: bold;
}

.topnav.show {
  opacity: 1;
}

.nav-item {
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  /*background: rgb(93, 169, 255);*/
  background: var(--theme);
}

.topnav a {
  -webkit-transition: 0.25s all;
}

.topnav a:hover {
  transform: scale(1.10);
  color: rgb(0, 207, 255);
  background: black;
}

#logo {
  opacity: 0;
  transition: opacity 1s all 0.25s ease;
}

#logo.show {
  opacity: 1;
}

.nav-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: left;
  margin-left: auto;
  position: fixed;
}

.nav-img:hover {
  transform:
    perspective(100rem) rotateX(4deg) rotateY(16deg) rotateZ(-10deg);
  filter: drop-shadow(-10px 10px 2px #00c8ff);
}

.icon {
  cursor: pointer;
  margin: 20px 20px;
  z-index: 2;
  transition: all 0.25s ease;
}

.icon:hover {
  color: var(--theme);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  padding: var(--globalPadding);
  padding-top: 4rem;
  padding-bottom: 0rem;
}

#about h1 {
  text-align: left;
}

#contact {
  color: white;

  min-height: 0vh;
}

footer {
  color: white;
  margin: auto 0;
  font-size: 18px;
  border: none;
  color: #495660;
  padding: 10px;
  text-align: right;
}

#experience {
  padding: var(--globalPadding);
  margin-top: 20rem;
  /* padding-top: 0rem; */
}

#projects {
  padding: var(--globalPadding);
  padding-top: 4rem;
}

#projects p {
  font-size: 0.8rem;
}

#terminal-wrapper {
  line-height: 1.75;
  /*font-family: 'Noto Sans Mono';*/
  color: lime;
  background-color: #001524;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #00fff3;
  padding: 10px;
  margin: 1rem;
}

#terminal-wrapper div:last-child::after {
  color: white;
  content: " ▍";
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#name,
#description {
  opacity: 0;
  transition: opacity 1s;
}

#name.show,
#description.show {
  opacity: 1;
}

.project .bubble-container {
  -webkit-transition: .25s all;
}

.project .bubble-container:hover {
  opacity: 0.75;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content img {
  background-color: black;
}

.bubble-container {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: top;
}

.bubble-container img {
  border-radius: 20px;
  max-width: 35%;
  object-fit: contain;
  margin-right: 20px;
  filter: drop-shadow(-7px 7px 2px #232323);
}

.bubble-container video {
  max-width: 35%;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 20px;
  filter: drop-shadow(-7px 7px 2px #232323);
}

.project-content img {
  max-width: 60%;
}

.bubble-container p {
  color: white;
  margin: 0;
  line-height: 1.6;
}

.bubble-container fa-github {
  margin: 20%;
}

div ul.contact-links {
  list-style: none;
  display: flex;

  justify-content: center;
}

div ul.contact-links li {
  float: left;
}


.fa-github {
  color: white;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-google {
  color: #ea4335;
}

.fa-hashnode {
  color: #2962FF;
}

.fa-file-pdf {
  transition: all 1s ease;
  margin: 20px;
  color: #6f59ff;
  font-size: 5rem;
}

.fa-file-pdf:hover {
  color: #ffffff;
}

@media (max-width : 1000px) {

  :root {
    --theme: rgb(112, 51, 255);
    --globalPadding: 1rem;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .disappear-mobile {
    display: none;
  }

  .topnav {
    backdrop-filter: none;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  li {
    font-size: 18px;
  }

  #about {
    justify-content: start;
  }

  #about h1,
  p {
    text-align: center;
    padding-left: 0px;
  }

  #experience p {
    text-align: left;
  }

  #projects .bubble-container .project-content img {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }

  .intro-summary {
    margin-right: 0;
  }

  .projectImage {
    width: 300px;
  }

  .bubble-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .parallax {
    background-image: none;
  }
}


@media only screen and (max-device-width: 1366px) {
  .parallax-container {
    background-attachment: scroll;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(52, 110, 255, 0.82);
}

::selection {
  color: white;
  background: rgba(52, 110, 255, 0.82);
}
